{
  "reporter": [
    "lcov",
    "text-summary"
  ],
    "require": [
        "babel-register"
    ],
  "exclude": [
      "**/*.spec.js",
      "client"
  ],
  "include": ["server/controller/*.js"]
}