
body, html {
    background: url('../images/document-management2.jpg');
    background-size:cover;
    padding:0px !important;
    color: white
}

.body {
    content: '';
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

#brand-logo {
    font: 'Caudex', serif;
    color: white;
}
.page-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.d-header{
    // margin-top: 20px;
}
.site-title{
    font-size: 20px !important;
    padding-left: 20px !important;
}

.login-title {
    font-size:25px;
    color: #FFF;
    margin-top: 130px !important;
    margin: 30px 50px;
    text-align: center;
}

.login-button {
    margin-right: 15px;
}
.signin-button {
    margin-left: 15px;
}

.add-document {
    width: 150px;
    text-align: center;
    margin: 20px;
}

.add-document a{
    color: inherit !important;
}

.add-document i{
    color: #0a5851;
}

.submit-button {
    margin-left: 20px;
}

.search-filter {
    margin: 20px;
}

.pagination {
    float: right;
    margin-top: 10px;
    margin-right: 40px;
}

.collapsible-popout {
    margin-top: 50px !important;
}

.card-content white-text {
    background-color: transparent;
}

.centerDiv {
    position: 'absolute';
    margin-left: 35%;
    margin-top: 10%;
    font-size:25px;
    color: teal !important;
    text-align: center;
}

#landingLoginButton, #landingSignupButton {
    font: 'Caudex', serif;
    color: teal !important;
    text-align: center;
}